@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');


*{
    margin: 0;
    padding: 0;
}

:root { /* variaveis css*/
    --cor-primaria: #0f0e0e;
    --cor-secundaria:#F6F6F6;
    --cor-terciaria: #22D4FD;
    --cor-hover:#242424;

    --fonte-primaria:'Krona One','sans-serif';
    --fonte-secundaria:'Montserrat', sans-serif;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.cabecalho{
    padding: 2% 0% 2% 10%;
}

.cabecalho_menu{
    display: flex;
    gap: 80px;
}

.cabecalho_menu_links{
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 600px;
    color: var(--cor-terciaria);
    text-decoration: none;
}

.cabecalho_menu_links:hover{
    color: darkcyan;
}

.apresentacao__conteudo__titulo__destaque {
    color: var(--cor-terciaria);
}

.apresentacao{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5% 15%;
    gap:82px;
}

.apresentacao__conteudo{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo{
    font-size: 2.25rem;
    font-family: var(--fonte-primaria);
    color: #22D4FD;
}

.apresentacao__conteudo__texto{
    font-size: 1.2rem;
    font-family: var(--fonte-secundaria);
}

.apresentacao__links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.apresentacao__links_subtitulo{
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 1.5rem;
}

 .apresentação__conteudos__links{
    display: flex;
    justify-content: center;
    gap: 16px;
    width: 50%;
    border: 2px solid var(--cor-terciaria);
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 600px;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
}

#foto{
    border-radius: 10px;
    width: 50%;
}

#referencia{
    text-decoration: none;
    color: var(--cor-secundaria);
    font-weight: bold;
}

.apresentação__conteudos__links:hover{
    background-color: var(--cor-hover);
}

#referencia:hover{
    color: orange;
}

.rodape{
    background-color: var(--cor-terciaria);
    color: var(--cor-primaria);
    font-family: var(--fonte-secundaria);
    padding: 1.5rem;
    text-align: center;
    font-weight: 400px;
}

@media(max-width: 1200px){
    .apresentacao{
        padding: 5%;
        flex-direction: column-reverse;
    }
    .apresentacao__conteudo{
        width: auto;
    }
    .cabecalho{
        padding: 10%;
    }
    .cabecalho_menu{
        justify-content: center;
    }
}